$vue-blue: #32485F;
$vue-green: #00C185;

$task: #e4019a;
$task-active: #e440ad;
$task-shadow: rgb(255, 244, 253);

$message: #508DC4;
$message-active: #0082EE;
$message-shadow: rgb(241, 249, 255);

$discussion: #8672AA;
$discussion-active: #6839DE;
$discussion-shadow: rgb(248, 246, 255);

$--color-success: #378b5d;